// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1F4C90;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #E61025;
$orange: #f6993f;
$yellow: #FFE44B;
$green: #31BD91;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// Custom Bootstrap things
$theme-colors: (
    "danger": #E61025,
    "success": #31BD91,
    "warning": #FFE44B,
    "primary": #1F4C90,
    "secondary": #666666
);
